/* CSS Оптимизация произволительности */
/* 
Оптимизация CSS позволяет ускорить загрузку сайта и сделать его работу более 
плавной , что также повышает удобсво для пользователей.
*/

/* Используйте простые селекторы */
/* 
По возможности испольщуйте простые селекторы. Сложные селекторы увеличивают 
время разбора.
*/

/* bad */
body #navlist ul li a.button:hover {
    background-color: blue
}

/* good */
.button:hover{
    background-color: blue
}

/* Не используйте универсальный селектор для стилизации */
/* Не используйте универсальный селектор (*), еслм в этом нет острой  необходимости. Универсальный селектор (*) влияет на каждый элемент
и может замедлить рендеринг страницы.
*/

* { 
    margin:0;
    padding:0;  
    font-size:16px
}



/* Избегайте встроенный стилей */
/* 
По возможности избегайте встроенных стилей.Встроенные стили утяжеляют 
HTML-код и усложняют управление им.

<p stye="color:red"></p>
*/

/* Избегайте @import */
/* Не испоьзуйте @import для загрузки внешнего CSS, так как это замедляет 
загрузгу таблицы стилей.

Добавьте внещней CSS-код с тегом <link> в раздел head, чтобы он загружался 
до отображения страницы.

<link rel="stylesheet" href="style.css">
*/


/* Используйте сокращенные своства */
/* 
По возможности используйте скращенные свойства. Это экономит место и ускрояет 
разбор.
*/

p {
    margin-top:10px;
    margin-bottom:20px;
    margin-left:10px;
    margin-right:20px;
}

/* сокразенное */
p {
    margin:10px 20px
}



/* Отключите ненужную анимацию */
/* Большое количество анимаций и крупных анимационных элементов требуют 
больших вычислительных мощностей, что снижает производительность. Поэтому 
удалите ненужные анимации. */




/* Используйте свойства, которые не приводят к перерисовке анимации */
/* Эффективность анимации также зависит от того, какие свойства вы анимируете.

Некоторые свойства (например, width, height, left, top) при анимации вызывают 
пересчет макета, поэтому их следует избегать.

По возможности используйте свойства анимации, которые не приводят к перерисовке,
например преобразования, непрозрачность и фильтры.
*/


/* Обединение и минимизация CSS */
/* 
По возможности используйте один файл CSS и удаляйте пробелы и клментарии,
чтобы уменьщить размер файла.

Вы можете использовать такие инструменты, как:

Минификатор CSS
PostCSS
Онлайн-компрессоры
*/