/* Селекторы CSS */
/* 
CSS - селекторы используются для << поиска >> (или выбора) HTML - элементов,
которые нужно стилизировать. 
*/

/* Мы можем разделить CSS-селекторы на пять категорий: */
/*  
- Простые селекторы (выбирают элементы по имени , идентификатору или классу)

- Селекторы-комбинаторы (выбирают элементы на основе определенных связей 
между ними )

- Псевдоклассы (выбирают элементы в зависимости от их состояния)

- Селекторы псевдоэлементов (выбирают и стилизуют часть элемента)

- Селекторы атрибутов (выбирают элементы на основе атрибута или значения 
атрибута )
*/

/* Селекторы элементов CSS */

/* Селектор 'element' выбриает HTML-элементы по их имени. */

/* p - это селектор елемент */
p {
    color:red
}


/* Селектор идентификаторов CSS */
/* 
Селектор 'id' используется атрибут id элемента HTML для выбора конкретного
элемента.

Идентификатор элемент уникален в пределах страницы, поэтому селектор id
используется для выбора одного уникального элемента !

Чтобы выбрать элемент с определенным идентификатором, введите символ решетки(#),
а затем идентификатор элемента.

 */

#identity {
    color:green
}




/* Селектор классов CSS */
/* 
Селектор 'class' выбирает HTML-элементы с определенным атрибутом класса.

Чтобы выбрать элементы с определенным классом, напишите точку (.) и затем
название класса
*/

.class {
    color:blue
}

/* вы также можете указать , что класс должени применяться только к 
определенным HTML- элементам
*/

pre .preformated {
    color:black
}

/* HTML-элементы также могут относиться к нескольким классом. */

/* HTML + CSS  (внешний файл) */
/* <p class="center large ">Это абзац относится к двум классам </p> */
.center {      
 color:red
}
.large {
 font-size:50px
}

/* примечание название класса не может начаться с цифры */



/* Универсальный селектор CSS */
/* universal selector (*) выбирает все HTML-элементы на странице */

*{
    border:1px solid red
}

/* Групповой селектор CSS */
/* 
grouping selector выбирает все HTML-элементы с одинаковыми определениями стиля.
*/

strong {
    color:gray
}

/* 
Будет лучше сгруппировать селекторы, чтобы минимизировать код. 

Чтобы сгруппировать селекторы , разделите их запятыми 
*/

h3, h4, h5, h6 {
    color:brown
}