/* CSS Выравнивание  таблицы */

/*Выравнивание по горизонтали */

/* 
Свойство CSS 'text-align' используется для настройки выравнивания 
содержимого по горизонтали в <th> или <td>.

Это свойство может иметь одно из следующих значений:
`left - выравнивает текст по левому краю
`right - вравнивание текст по правму краю 
`center - выравнивание текст по центру.
*/

/* Примечание: по умолчанию содержимого элементов <th> выравнивается 
по центру , а содержимое элементов <td> - по лувому краю.
*/

/* CSS text-align:center */

table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
    width:50%;
    height:100px;
}

th , td {
    border: 1px solid black;
    text-align: center;
}


/* text-align:left */

/* Чтобы выровнять содердимое элементов <th> по левому краю,
используйте 'text-align:left' для элементов <th> */

th {
    text-align: left;
}


/* Выравниваение по вертикали */
/* 
Свойство CSS 'vertical-align' задает выравнивает по вертикали 
(по верхнему , нижнему краю по центру) содержимого <th> или <td>/

Примечание: По умолчанию содерюимое таблицы выравнивается по центру (как
для элемент <th> , так и для элементов <td>. )
*/



th {
    height:100px;
    vertical-align:bottom
}

td {
    height:100px;
    vertical-align: bottom;
}


