/* Ощибки CSS */

/* 
Ошибки в CSS могут привести к неправильному поведению или неправильному 
применнеию стилей. На этой странице описаны распространненые ошибки в CSS и 
способы их избежать.
*/

/* Пропущенные точки с запятой */
/* 
Если вы забудете поставить точку с запятой в конце обявления свойства, это
может нарушить правило стиля.
*/

/* прмер */

.bad {
    color:red  
    background-color: white;
}




/* Недопустимые имена свойств */
/*  
Если вы укажете несуществующее имя свойства, браузер просто проигнорирует его.
*/

.bad {
colr:red;
}



/* Недопустимые значения */
/* Правильнык свойства но неверные значения также будут пригнорированы */

.bad {
   width:-100px;
}


/* Незакрытые Брекеты */
/* 
Если вы забудете закрыть фигурную скобку }, все правильно может быть 
проигнорировано
*/

.bad {
    color:red;

/* Дополнительные скобки  */
/* Такие опечатки, как лишние двоеточия или неправльно расставленные фигурные 
скобки, могут привести к нарушению правил.
*/

.bad {
    color::red;
}

.bad {
    color:blue;
}}



/* Советы, как избежать ошибок CSS */

/* 
- Используйте редактор кода с подсветкой синтаксиса.
- Проверьте свой CSS с помощью CSS-линтера или валидатора.
- Пишите CSS небольшими блоками и часто тестируйте.
*/