/* Непрозрачноть CSS */

/* 
Непрозрачность изображения CSS
*/

/* 
Свойство 'opacity' определяет непрозоачнлсть / прозрачность элемента

Свойство 'opacity' может принимать значения от 0.0 до 1.1

0.0 -  эоемент будет полностью прозрачным 
0.5 - элемент будет прозрачнм на 50 %
1.0 - по умолчанию. Элемент будет полностью непрозраным
*/

img {
    opacity: 0.5;
    height:200px;
    width:200px;
}

/* Прозрачные коробки */

/* 
При использовании свойства 'opacity' для прозрачности фону элемента 
все дочерние элемента наслудуют ту де прозрачность. Из-ха это текст 
внутри прозрачного элемнета может быть читаемым.
*/

div.opacity {
    background-color: red;
    border:1px solid red;;
    height:200px;
    width:200px;
    opacity:0.5;
    color:white
}


/* Прозрачность с использованием цвета фона */

/* 
Чтобы не принимать прозрачность к дочерним элементам, можно 
использовать свойство 'background-color' со значением RGBA.

Цветовые значения RGBA — это расширенные цветовые значения RGB с
альфа-каналом, который определяет непрозрачность цвета.

Значение цвета RGBA задаётся следующим образом: rgba(красный, 
зелёный, синий, альфа). Где альфа — это число от 0,0 (полностью
прозрачный) до 1,0 (полностью непрозрачный).
*/

div.opacity-without {
    background-color:rgba(0,0,255, 0.5);
    height:100px;
    width:100px;
    font-weight: bold;
}