/* CSS Тень блока */

/* 
Свойство CSS 'box-shadow' используется для применения одной или нескольких 
тененй к элементу.

В простейшем случае можно только горизонтальное и вертиклаьное смещение тени.

Кроме того , мы можем добавить цвет тени , радиус рассеивания , эффект размытия 
тип тени с внешней на внутреннюю (врезку).
*/



/* Горизонтальная и вертикальная тень в CSS */

.box-shadow {
    height:50px;
    width:100px;
    box-shadow:3px 3px black;
}

/* Добавте еффект размытия к тени */

/* 
Параметр 'blur' определяет радиус размытия тени. Сем больше значение ,
тем сильнее будет размытия тень. blur=5;
*/

.blur {
    height:50px;
    width:100px;
    box-shadow: 3px 3px 4px lightblue;
    margin-top: 10px;
}


/* Задайте радиус распространения тени */
/* 
Параметр 'spread' определяет радиус распространения тени.

Положительные значение увеличивает размер тени , а отрицательные 
- уменьшает.


'spread' - 10px 10px 5px 12px
*/

.spread {
    margin-top: 20px;
    height:50px;
    width:100px;
    box-shadow:10px 10px 5px 12px red;
}


/* Задайте параметр inset */
/* 
Параметр 'inset' меняет тени с внешней (outset) на внутреннюю (внутри рамки 
эдемента ).
*/

.inset {
    height:50px;
    width:100px;
    margin-top:50px;
    box-shadow: 2px 2px 3px red inset;
}