// Sass @import и частичные фацлы.

/* Sass позволяет не повторять код CSS (Don't Repeat Yourself). Один из способов 
писать код не повторяющихся в других местах, - хранить связанный код в отдельный 
файлах.

Вы можете создавать небольшие файлы с фрагментами CSS для включения в другие файлы 
Sass. Примерами таких файлов могут быть: файл сброса, переменыые , цвета , шрифты ,
размеры шрифтов и т.д
*/

// Импорт файлов в Sass
/*
Как и CSS, Sass подерживает @import директиву.

Директива @import позволяет включать содержимое одного файла в другой.

Директива CSS @import имеет существенный недостаток , свяханный с 
производительностью: при каждом вызове она создает дополнительный HTTP-запрос.
Однако директива Sass @import включает файл в CSS , поэтому во время выполнения не 
требуется дополнительный HTTP-запос! 
*/

// Синтаксис
// @import file_name

/*
Совет: Вам не нужно указать расширение файла , Sass автоматически предпологает 
, что вы имеете в виду файл .sass или .scss. Вы также можете испортировать файлы CSS.
Директива @import импортирует файл, и любые переменные или миксины , определенные 
в импортированном файле , могут использоватся в основном файле.

В основной файл можно импортировать столько файлов, сколько вам нужно:
*/

@import "media";
@import "style";

// Sass Partials 
/*
По умолчанию Sass напрямую транслирует все фалы .scss. Однако,
едси вы хотите импортировать файл Ю вам не нужно , чтобы он
транслировался  напрямую.

В Sass есть механизм для этого: елси имя файла начинается с 
символа подчеркивания , Sass не будет его транслировать. Файлы с 
такими именанми в Sass называются партиалами.

Таким образом , имя частисного файла Sass начинается с символа _
подчеркивания.
*/

// Синтаксис Partials
// _file_name

@import "file"