/* CSS математические функции */

/* Математические функции CSS позволяют использовать математические 
выражения в качестве значений свойств.  */

/* Существует несколько математических свойств функции: */
/* 
calc()
max()
min()
clamp()
*/

/* Функция CSS calc() */
/* 
Функция calc() выполняет математические вычисления , которые будут 
использовать в качестве значения свойства.

Функция calc() поддерживает сложение (+) , вычитание (-) , умножение(*),
и деление (/) и может обеденять различные единицы измерения , например 
пиксели и проценты. 
*/

/* Синтаксис*/
/* calc(выражение) */

h3 {
    text-align: center;
    font-size:24px;
    font-variant: small-caps;
    letter-spacing: 30px;
}
.container {
    max-width:1000px;
    border:1px solid black;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
   gap:10px;
    margin-bottom: 20px;
}

.cards {
    height:200px;
    width:calc(980px/3);
    background: red
}

.math-function {
    height:400px;
    width:400px;
    background: red;
}



/* 
% vh vw px
400 = 100% 

200px + 25% + 0.25vw + 

*/

/* Функция CSS min() */
/* 
Функция min() принимает список значений , разделенных запятыми , и 
использует наиментшее значение из списка в качестве значения свойства.
*/

.min {
    height:min(100px, 400px , 500px);
    width:300px;
    background:blue;
    font-size: 30px;
    color:white
}


/* Функция CSS max() */
/* 
Функция max() принимает список значений , разделенных запятыми, и 
использует наибольшие значения из списка  качетсе значения свойства.

*/
.max {
    height: 300px;
    width:max(100px,50vw);
    background: red;
    font-size: 30px;
    color:white
}

/* Функция CSS clamp() */
/* 
Функция clamp() используется для установки значения, которое 
автоматически изменяется в диапазоне от минимального до максимального 
значения в зависимости от размера области просмотра.

Функция clamp() имеет параметра:минимальное значение , предпочтительное 
значение и максимальное значение.Если предпочтительное значение меньше 
минимального или больше максимального , используется предпочтительное 
значение.
*/

/* Синтаксис */
/* clamp(min, preffered,max) */

.clamp {
    height:400px;
    margin: auto;
    width:100%;
    background: red;
    font-size:clamp(10px, 20px ,100px)
}