/* CSS макет сетки */
/* 
модуль Grid Layout предлагает систему компоновки на 
основе сетки со строками и столбцами.

Модуль Grid Layout позволяет разработчикам легко созлавать 
сложные веб-макеты.

Модуль Grid Layout позволяет создавать адаптивные макеты 
без использования 'float' или поизиционирования.
*/

/* Разница между Grid и Flexbox */
/* 
CSS Flexbox используется для одномерного макета со 
строками ИЛИ столбцами.
*/

/* Компоненты сетки CSS */
/*
Сетка состоит из:
Контейнер сетки - родительский (контейнерный) элемент , для 
которого свойство 'display' установлено в 'grid' или 
'inline-grid'.

Один или несколько элементов сетки - прямые дочерние элементы 
контейнера сетки автоматически становятся элементами сетки.
*/

