/* Адаптивный веб-дизайн  */
/* Использование свойства width */

/* Если для свойтсва 'width' установлено значение 100% видеоплеер 
бужет адаптивнм и сможет увеличивать и уменшать масштаб.  */

video {
    height:auto;
    width:100%;
}

 /* Обратите внимание , что в приведенном выше примере 
видеоплеер может увеличить , чтобы он стал больше исхожного 
размера. Во многих случаях лучше использовать свойство 'max-width' */


/* Использвание свойства 'max-width'  */

/* Если для свойства 'max-width' установлено значение 100% видеоплеер 
будет уменьшат масштаб, если это необхоимо, но никогда не будет 
увеличивать масштаб , чтобы он превышал исходный размер. */


