 /* HTML цвета RGB RGBA   */
/* 
Значение цвета RGB соответствуют источникам красного , зеленного 
и синего света 

Значение цвета RGBA - это расширение RGB с добавлением альфа-канала 
(непрозрачности).
 */

/*  
Значение цвета RGBA - это расщирение RGB с добавлением альфа-канала
(непрозрачности) 
*/

/* Значение цвета RGB  */
/*  
В HTML цвет можно задать в виде значение RGB используя следуюшую
формулу.

rgb(красный, зеленый , синий)

каждый параметр (красный, зеленый и синий) определет интесивность 
цвета в диапазоне от 0 до 255

Это означает , что сузествует 256 X 256 X256 = 16 777 216 цветов !

Например, rgb (255,0,0) отображается как красный цвет , потомучто для 
красного установлено максимальное значение (255) , а для других цветов 
(зеленого и синего) установлено значение 0.

Другой пример rgb (0,255,0) отображается как зеленный, потомучто для 
зеленного установленно максимальное значние (255), а для других цветов
(красного и синего) установлено значение 0.

Чтобы отобразить черный цвет установите для всех параметорв цвета 
значние 0 например так : rgb (0,0,0) .

Чтобы отобразить белый цвет , установите для всех парамеоров цвета 
занчение 255 например так : rgb (255,255,255).

*/

/* пример  */

/* черный   */
.black {
    background-color: rgb(0,0,0);
    color:rgb(255,255,255)
}

/* белый  */
.white {
    background-color: rgb(255,255,255);
    color:rgb(0,0,0)
}


/* красный  */
.red {
    background-color: rgb(255,0,0);
}

/* синий  */
.b;ue {
    background-color: rgb(0,0,255);
}


/* зеленый  */
.green {
    background-color: rgb(0,255,0);
}

/* Значение цвета RGBA  */
/* 
Цветовые значения RGBA - это расгиренные цветовые значения RGB 
с альфа-каналом , который определяет непрозрачность цвета -->

Значение цвета RGBA задается с помошью :
rgba(red,green,blue, alpha)

параметр альфа - это число в диапазоне от 0.0 (полная позрачность)
до 1.0 (полная прощрачность).

*/

/* пример */

.rgba-nohalf-opasity{
    background-color: rgba(255,0,0, 1);
}

.rgba-full-opasity{
    background-color: rgba(0,255,0, 0);
}

.rgba-half-opasity{
    background-color: rgba(0,0,0 , 0.5);
}

