/* Специфика CSS */

/* Специфичность CSS - это алгоритм , который определяет , какое обьявление 
стиля в конечном итоге будет применено к элементу.

Если два или более правил CSS указывают на один и тот же элемент, то 
<< побеждает >> правило с наивысшей специфичностью , и этот стиль применяется 
к HTML-элементу.
*/

/* Иерархия специфичности CSS */
/* 
Каждый тип CSS-селекотра знимает определенное место в иереархии
мпецифичности , и типы селекторов имеют разный вес.
*/

/* 

inline -> имеет наивысший приоритет и переопределяет все остальные селекторы 

id селекторы - второй по значимости приоритет 1-0-0
 
class , атрибуты , pseudo-classes - третий по значимости приотритет. 0-1-0 

элементы и псевдоэлементы - 0-0-1

универсальный селектор - нет приоритета
*/

#green {
    color:green;
}

.red {
    color:red;
}

p {
    color:darkblue;
}

* {
    color:aqua
}


/* Одинаковое специфичность: действует последнее правило */
/* Если одно и то же правило дважды записано во внешней таблице стилей,
действет последнее правило.
*/

.color {
    color:red;
}

.color {
    color:green;
}

#color {
    color: red;
}

#color {
    color: black;
}

pre {
    color:red;
}

pre {
    color:aqua;
}

* {
    color:red;
}

* {
    color:blue;
}