/* Как добавить CSS */

/* Когда браузер считывает таблицу стилей, он форматирует HTML-документ в 
соответсвии с информацией, содержащейся в таблице стилей.

Существует три способа вставки таблицы стилей:

- Внешний CSS
- Внутренний 
- Встроенный 
*/

/* Внешний CSS */
/* 
С помощью внегней таблицы стилей вы можете изменить внешний вид всего сайта,
изменив всего один файл!

Каждая HTML_страница должна содержать ссылку на внешний файл стилей внутри
элемента <link> в разделе head.
*/
/* пример */
/* 
<!Doctype html>
<html>
<head>
<link rel='stylesheet' href="style.css">
</head>
</html>
*/

/* Внешнюю таблицу стилей можно создать в любом текстовом 
редакторе и сохранить с расширением .css.

Внешний файл .css. не должен содредить HTML-тегов.

Вот как выглядить файл style.css.
*/

body {
    background-color:white;
}
h1 {
    color:brown
}

/* Прмечание: Не добавляйте пробел между значением свойтсва (20) и 
единицей измерения (px):
Неправильно (с пробелом): margin-left: 20 px;
Правильно (без пробела): margin-left:20px;
*/



/* Внутренний CSS */
/*  
Внутреннюю таблицу стилей можно использовать , если у  одной HTML- страницы
есть уникальный стиль

Внутренний стиль определяется внутри элемента <style> в разделе head
*/
/* пример */
/* 
<!Doctype html>
<head>
<style>
p {
color:red;
}
</style>
<head/>
*/


/* Встроенный CSS */
/* 
Встроенный стиль можно использовать для применнеия уникального стиля к одному 
элементу.

Чтобы использовтаь всроенный стили , добавьте атрибут 'style' к соответсвующему 
элементу. Атрибут 'style' может содержать любое свойство CSS

*/

/* пример */
/* 
<!Doctype html>
<html>
<body>
<p style="color:red"> hello world! </p>
</body>
</html>
*/

/* Несколько таблиц стилей  */
/* 
Если для одного и того же селектора (элемента) в разных таблицах стилей заданы 
разные свойства будет использоватся значения из последней прочитанной таблицы 
стилей 
*/


/* Каскадный порядок */
/* 
Каскадный стиль будет использоватся, если для HTML-элемента задано несколько 
стилей ?
*/

/* 
Все стили на странице будут <<каскадироваться>> в новую <<виртуальную>>
таблицу стилей в соответсвии со следующими правилами , где номер имеет 
наивысший приоритет: 

1. Встроенный стиль (Внутри-элемента)
2. Внешние и внутренние таблицы стилей (в разделе head)
3. Браузер по умолчанию
*/

p {
color:green
}