/* Границы таблицы в CSS */
/* 
Свойство CSS 'border' используется для указания ширины, стиля и цвета 
границ таблицы. 

Свойство 'border' является сокращенным вариантом для:

border-width - устанавливает ширину границы 
border-style - устанавливает стиль границы (обязательно)
border-color - устнавливает цвет границы.
*/

table {
    border-width:2px;
    border-style: solid;
    margin: auto;
}

th {
    border-width:2px;
    border-style:solid
}

td {
    border-width:2px;
    border-style:solid;
}


/* Цвет границы таблицы CSS */
/* В приведенном ниже для элементов <table>, <th> и <td> задана сплошная 
зеленая граница толщииной 1px
*/

table {
    border-color:red;
}

th {
    border-color:green;
}

td {
    border-color:blue;
}



/* Почему двойные границы ? */
/* 
Обратите внимание , что таблицы в приведенных выше примерах имеют 
двойные границы. Это связано с тем , что элементы <table> , <th>
и <td> имеют отдельные границы.
*/

/* Сворачивание границ таблицы в CSS */
/* 
Свойство CSS 'border-collapse' определяет , должны ли границы таблицы 
сворачиваться в одну границу или оставатся разделенными , как в стандартном 
HTML.

Это свойство может иметь одно из следующих значений:
separate - Значение по умолчанию. Границы разделены ; каждая ячейка имеет 
собственные границы.

collapse - Границы по возможности сведены к одной.

*/

table {
    border-collapse:collapse  /*separate*/
}


/* Отступы в таблицах CSS */
/* ЧТобы кправлять расстоянием между границей и содержимым таблицы,
используйте свойство 'padding' для элементов <td> и <th>
*/

th {
    padding:20px
}

td {
    padding:20px;
}


/* Расстояние междку границами CSS */
/* Свойство CSS 'border-spacing' устанавливает рпсстояние между
границами соседних ячеек.

Примечание: это свойство работает только в том случае только в том случае
, если для 'border-collapse' установлено значение 'separate'.
*/

table {
    border-spacing:50px;
    border-collapse: separate;
}