/* CSS Padding */

/* 
Свойство CSS padding испоьлзуется для создания пространство вокруг
содержимого элемента внутри любимых заданных границ.

С помощью CSS вы можете полностью отступы . Сцществуют свойства для 
установки отступ с каждой стороны элемента (сверху, справа, снизу,
и слева ), а также сокрашенное свойство для установки всех свойств 
отступов в одной декларации.
*/

/* Обивка - отдельные стороны */
/* 
В CSS есть свойстыв для указания отступов с каждой стороны элемента

 - padding-top - устанавливает верхний отступ элемента
 - padding-right- устанавливает правтльные отступы для элемента
 - padding-bottom - устанавливает нижнее отступы элемента
 - padding-left - устанавливает левое отступы для элемента

*/

/* 
Все свойства отступов могут иметь слежующие значения:

длина - указывает отступ в px, pt, cm и т.д.

% - указывает отступ в % от ширины содержимого элемента

inherit - указывает, что отступы должны быть унаследованы
от родительского эдемента.
*/

/* Примечание: Отрицательные значения не допускаются */

.padding-top {
    border:1px solid red;
    padding-top:50px;
}

.padding-bottom {
    border:1px solid red;
    padding-bottom:50px    
}
.padding-left {
    border:1px solid red;
    padding-left:20pt
}

.padding-right {
    border:1pt solid red;  
    width: 300px;
}

#paragraph {
    padding-right:50%;
}


/* Padding - сокращенное свойство */
/* 
Чтобы сократить код, можно указать все свойства отступов в одном 
обьявлении.

Свойство 'padding' является сокращенным обозначением для следющих 
отдельных свойств отступов:

padding-top
padding-right
padding-bottom
padding-left

*/

/* 'padding' может толькл 4 знаения  */
/* 
padding: 10px 20px 30px 40px  

10px - верхний отступ
20px - правый отступ
30px - нижний отступ
40px - левый отступ
*/

.short-hand-four {
    border:1px solid red;
    padding:10px 20px 30px 40px;
}



/* Если padding свойство имеет три значения: */
/* 
padding: 10px 20px 30px

10px - верхний отступ
20px - правый отступ
30px - нижний отступ
*/

.short-hand-three {
    border:1px solid red;
    padding:10px 20px 30px ;  
}


/* Если padding свойство имеет два значения: */
/* 
padding: 10px 20px:

10px - верхний отступ
20px - правый отступ
*/


.short-hand-two {
    border:1px solid red;
    padding:10px 20px ;  
}


/* Если padding свойство имеет одно значения: */
/* 
padding: 50px: 

50px - для четырех сторон одинкаово
*/

.short-hand-all{
    border:1px solid red;
    padding:50px;  
}


/* Заполнение и ширина элемнета  */

/* 
Свойство CSS 'width' определяет ширину области содердимого элемнета.
Область содержимого - это часть элемента, находящаяся отступов,
границ и полей эдемента. (блочная модель).

Таким образом, если у элемента указана ширина , то отступы, 
добавленные к этому элементу , будут добавлены к общей ширине 
элемента. Часто это приводит к нежелательным результатом.
*/

.width {
    width:300px;
    border:1px solid red;
}


/* Выравнивание и обрезка */
/* 
Свойство 'box-sizing' определяет , как расчитываются ширина и высота 
элемента: с учетом отступов и границ или без.
Это значит что она определяет выравнивать или нет box элементов.

Свойство 'box-sizing' может иметь следующте значения.

content-box - это значение по умолчанию. Свойства width и height 
включают только содержимое (границы и отступы не учитываются)

border-box - свойства width и height включают в себя содердимое,
отступы и границы 
*/

/* border-box */
.element1{
    box-sizing: border-box; 
    width:500px;
    padding:100px 100px 100px 100px;
    border:2px dotted red;
}
.element2{
    box-sizing: border-box;
    width:500px;
    border:10px solid red;
}

/* content-box by default */
.element3 {
    box-sizing: content-box;
    width:500px;
    border:10px solid red;
}