/* CSS Pseudo-Elements */
/* 
Псевдоэлемент CSS - это ключевое слово ,которое можно добавить к 
селектору , чтобы задать стиль для опредленной части элемента.
*/

/* Примеры распространенного использования псевдоэлементов */
/* 
Оформление первой буквы или первой строки элемента.
Вставка содержимое до или после элемента
Оформление маркеров элементов списка
Стилизация выбанной части элемента
Оформление области просмотра за диологовым окном
*/

/* Синтаксис */
/* Псевдожлементы обозначаются двойным двоеточием (::) за которым 
следует название псевдоэлемента.
*/
/* 
селектор::имя псевдокласса {
свойства CSS
*/

/* Псевдоэлемент CSS ::first-line */
/* Псевдоэлемент ::first-line используется для придания особого 
стиля первой строке текста:

Примечание: псевдоэлемент ::first-line можно применять только к 
элементам блочного уровня
*/

p.first-line::first-line {
    color:red;
    text-decoration:underline;
}

span.first-line::first-line {
    color:blue
}


/* Псевдоэлемент CSS ::first-letter */
/* Псевдоэлемент ::first-letter используется для придания особого 
стиля  первой букве текста.

Примечание: псевдоэлемент ;;first-letter можно применять только к 
элементам блочного уровня.
*/

p.first-letter::first-letter{
    color:red
}

span.first-letter::first-letter {
    color:blue
}



/* Псевдоэлемент CSS ::before */
/* Псевдоэлемент ::before используется для вставки содержтмого 
перед содерджимым указанного элемента.

Используйте свойтсво 'content' дял указания всатвляемого содержимого.
*/

p.before::before {
    content: url(assets/svg/apple.svg);
}


/* Псевдоэлемент CSS ::after */
/* 
Псевдоэлемент ::after Ипользуется для вставки содержимого после
содержимого указанного элемента.

Используйте свойство content для указанаия вставляеиого содержимого.
*/

p.after::after {
    content: url(assets/svg/apple.svg);
}


/* псевдоэлемент CSS ::marker */
/* 
Псевдоэлемент ::marker используется для стилизации маркеров списка
*/

ul li::marker {
    color:red
}

ol li::marker {
    color:red
}


/* Псевдоэлемент CSS ::selection */
/* 
Псевдоэлемент ::selection используется для стилизация части 
тектса, выделенной пользоваетлем.
*/

p.selection::selection {
    color:red
}


/* Псевдоэлементы и HTML-классы */
/* 
Псевдоэлемнеты можно легко комбинировать с HTML-классами
*/

.class p::first-line {
    color:red
}

/* Несколько псевдоэлементов */

/* Несколько псевжоэлементов также можно комбинировать. */

.multiple::first-line {
    color:red
}

.multiple::first-letter {
    color:blue
}

.multiple::before{
    content:url(assets/svg/apple.svg)
}

.multiple::after {
    content:url(assets/svg/apple.svg)
}

.multiple::selection {
    color:green
}