/* Адаптивный веб-дизайн - Изображения */

/* Использование свойтсва width */
/* 
Если для свойства 'width' задано процентное значение, а для 
свойтсва 'height' задано значение << auto >> , изображение 
будет адаптивным и будет увеличиваться и уиеншаться в размере.
*/

img[alt="width"] {
    height:auto;
    max-width:100%
}

/* 
Обратите внимание, что в приведенном выше примере изображение 
можно увеличить , чтобы оно стало больше исходного размера.
Во многих случаях лучше использовать свойство  'max-width'
вместо этого.
*/



/* Использование свойство 'max-width' */
/* 
Если для свойства 'max-width' установлено значение 100% 
изображение будет уменьшено  елси это необходимо, но нокгода 
не будет увеличено до размера, превышающего исхожной.
*/

img[alt='max-width'] {
    height: auto;
    max-width: 100%;
}



/* Фоновое изображения */
/* 
Фоновые изображения также могут реагировать на изменение размера 
и масштабирование.

Здесь мы покажеим три разных способа:
1.Использовавние background-size:contain ; фоновое изображение 
будет увеличиватся и уменшатся в размере, подстраиваясь под 
область содержимогою Однако изображение сохранит 
соотоношение сторон (пропорциональное соотногение между 
шириной и высотой изображения):
*/

.contain {
    height:400px;
    width:100%;
    border: 1px solid black;
    background:url(https://i.pinimg.com/originals/d3/e9/9c/d3e99c61aaa86b16aee86e1436b3b8de.jpg) no-repeat ;
    background-size: contain;
    background-clip:content-box;
}

/* 2.Использование 'background-size:100% 100%' фоновое изображение
растягивается , чтобы покрыть всю область содердимого.
*/

.percent {
    height: 400px;
    width: 100%;
    border: 1px solid black;
    background: url(https://i.pinimg.com/originals/d3/e9/9c/d3e99c61aaa86b16aee86e1436b3b8de.jpg) no-repeat;
    background-size: 100% 100%;
    background-clip:border-box;
}

/* 
3. Использовние 'background-size: cover ' фоновое изображение 
будет масштабировано так, чтобы занимать всю область содержимого
Обртите внимание что значение <<cover>> сохраняет соотношение 
сторон , и часть фонового изображения может бвть обрезана.
*/

.cover {
    height: 400px;
    width: 100%;
    border: 1px solid black;
    background: url(https://i.pinimg.com/originals/d3/e9/9c/d3e99c61aaa86b16aee86e1436b3b8de.jpg) no-repeat;
    background-size: cover;
    background-clip:border-box;
}


/* Разные изображения для разных устрйоств */
/* 
Большое изображение может идеально смотреться на большом экране 
компьютера, но быть бесполезным на маленьком устройстве. Зачем 
загружать большое изображение, если его всё равно придётся 
уменьшать? Чтобы снизить нагрузку или по другим причинам, можно 
использовать медиазапросы для отображения разных изображений на 
разных устройствах.
*/

.media {
    height:300px;
    width:300px;
    border: 1px solid black;
    background: url(https://images.steamusercontent.com/ugc/809998067557208548/2A483A94C68E6DD89A5C36ECA6465E927CAA780F/?imw=512&amp;imh=372&amp;ima=fit&amp;impolicy=Letterbox&amp;imcolor=%23000000&amp;letterbox=true);
    background-size:300px 300px;
    background-repeat: no-repeat;
}

@media only screen and (max-width='320px') {
    .media {
        background-size: 20% 20%;
    }
}


/* Элемент HTML <picture> */
/* 
Элемент HTML <picture> предоставляет веб-разработчикам больше
возможностей для указания русурсов изображений.

Чаще всего элемент <picture> используется для изображений в 
адаптивном дизайне.Вместо одного изображения , которое 
масштабируется в зависимости от щирины области просмотра,
можно использовать несколько изображений , которые будут лучше
заполнять область просмотра браузера.

Элемент <picture> работает так же ,как элементы <video> и <audio>.
Вы настраивапте раздичные источники, и используете первый 
источник, соответствующий вашим предпочитаниям.

*/


/* 
Атрибут 'srcset' является и опрежеляет источник изображения.

Атрибут 'media' является необязательным и принимает медиазапросы.

Вам также следует определить элемент <img> для браузеров, которые 
не поддеоживают элемент <picture>.
*/


picture {
    border: 10px solid black;
    height:auto;
    display: block;
}