/* CSS Границы */
/* 
Свойства CSS border позволяют задать стиль, щирину и цвет 
границы элемента  
*/

/* Стиль границы CSS */
/* 
Свойство 'border-style' определяет тип отображяемой границы
*/

/* Допустимые следующие границы */

/*  

dotted - определяет пунктирную границу
dashed - создает пунктирную границу
solid  - определяет четкую границу 
double - определяет двоную границу
groove - определяет трехмерную рифленую рамку. Эффект зависит от 
значения цвета рамки 

ridge  - определяет трехмерную ребристую границу.Эффект зависит от
значения цвета границы.

inset  - определяет трехмерную рамку. Эффект зависит от значения 
border-color

outset - определяет трехмерную начальную границу. Эффект зависит от 
значения цвета границы.
none   -  не определяет границы
hidden - определяет скрытую границу.

*/

/*  
Свойство border-style может иметь от одного до четырех значений 
(для верхней границы, правой границы , нижней границы и левой 
границы)
*/

.dotted {
    border-style:dotted;
}

.dashed {
    border-style:dashed
}

.solid{
    border-style:solid;
}

.double{
    border-style:double;
}

.groove {
    border-style:groove;
}

.ridge {
    border-style:ridge;
}

.inset {
    border-style:inset;
}
.outset {
    border-style:outset;
}

.none{
    border-style:none;
}

.hidden{
    border-style:hidden;
}


/*
Примечание: ни одно из других свойст CSS для оформления грнаиц 
не будет иметь Никакого еффекта , если не задано свойства 
'border-style'!
*/

