/* CSS Размер фона */

/* Свойство CSS background-size*/
/* 
Свойство 'background-size' похволяет указать размер изображений 

Размер фона можно указать в долях, процентах или с поомшью одного 
из ключевых слов : 'auto' , 'contain' , или  'cover'.

*/

/* Размер фона - автоматический , по содепжимому и по площади */
/* 
Значения ключевых слов для "background-size" - это auto, contain,
cover.

Значения 'auto' является значением по умолчанию т отображает 
фоновое изоблажение в исхожном размере.

Значение 'contain' масштабирует изображение вверх или вниз,
чтобы оно поместилось в области содержимого.

Значение 'cover' масштабирует изображение до максимального 
возможного размера, чтобы область содержимого была полностью
закрыта фоновым изображением (его ширина и высота будут равны
области содержимого или превышать ее).
*/

/* auto */

/* body {
    background-image: url(https://img.wattpad.com/7af175c30eff03c2710ac54438cc57fa4c9eb066/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f69774373756873527347366534513d3d2d3836393339333630342e313630373465323737303565393863383536323230323634303737372e676966?s=fit&w=720&h=720);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center top;
} */

/* contain */

/* body {
    background-image: url(https://img.wattpad.com/7af175c30eff03c2710ac54438cc57fa4c9eb066/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f69774373756873527347366534513d3d2d3836393339333630342e313630373465323737303565393863383536323230323634303737372e676966?s=fit&w=720&h=720);
    background-size: contain;
    background-repeat: no-repeat;
} */

/* cover */
/* 
body {
    background-image: url(https://img.wattpad.com/7af175c30eff03c2710ac54438cc57fa4c9eb066/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f69774373756873527347366534513d3d2d3836393339333630342e313630373465323737303565393863383536323230323634303737372e676966?s=fit&w=720&h=720);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center
} */

/* background with unit */

body {
    background-image: url(https://img.wattpad.com/7af175c30eff03c2710ac54438cc57fa4c9eb066/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f69774373756873527347366534513d3d2d3836393339333630342e313630373465323737303565393863383536323230323634303737372e676966?s=fit&w=720&h=720);
    background-size:500px;
    background-repeat: no-repeat;
}