/* CSS Несколько фонов */

/* 
CSS позволяет добавлять несколько фоновых изображений для 
элемента с помощью свойства background-image .

Разные фоновые изображения разделены запятыми и расположены друг 
над другом, причём первое изображение находится ближе всего к 
зрителю.
*/

/* body {
    background-image: url(https://i.gifer.com/XK5G.gif) , url(https://img.wattpad.com/7af175c30eff03c2710ac54438cc57fa4c9eb066/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f69774373756873527347366534513d3d2d3836393339333630342e313630373465323737303565393863383536323230323634303737372e676966?s=fit&w=720&h=720);
    background-position: top left, top right;
    background-repeat: no-repeat, no-repeat;
} */

/* 
Несколько фоновых изображений можно задать с помощью отдельных 
свойств background (как описано выше) или с помощью сокращённого 
свойства background
*/

body {
    background: url(https://i.gifer.com/XK5G.gif) no-repeat top left, no-repeat top center url(https://img.wattpad.com/7af175c30eff03c2710ac54438cc57fa4c9eb066/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f69774373756873527347366534513d3d2d3836393339333630342e313630373465323737303565393863383536323230323634303737372e676966?s=fit&w=720&h=720);
}