/* CSS Float */
/* 
Свойство 'float' используется для позиционирования и форматирования 
содержимого , например для того,чтобы изображение распологалось слева от 
текста в в контейнере
*/

/* Это свойство моет иметь одно из следующих значений: 
-left -Элемент распологается слева от своего контейнера
-right - элемент распологается справа от своего контейнера
-none - по умолчанию.Элемент не распологается по центру и отображается там,
где встречается в тексте.
-inherit - Элемент наследует значение float своего родительского элемента.
*/

/* Совет: свойство 'float' часто используется для обтекания текста 
изображениями ! */



/* значение 'left' */
/* Значение 'float:left' указывает на то что, элемент должен распологаться 
слева от своего контейнера. */
.container-left {
    border: 1px solid black;
    height:200px;
    width:200px;
}

.container-left > img {
    height:50px;
    width:50px;
    float: right;
}

.container-left > span {
    font-size: 20px;
}


/* значение 'right' указывает на то , что элемент должен распологаться 
справа внутри своего контейнера.
*/
.container-right {
    height:200px;
    width: 500px;
    border:1px solid black;
}

.container-right > p {
    border:1px solid black;
    float:right
}

