/* CSS Формы */
/* 
CSS для оформления форм
CSS используется для оформления HTML-форм. С помощью CSS 
*/

/* Оформление полей ввода в форме */
/* 
С помощью CSS можно оформить типов полей ввода , таких как текстовые поля ,
поля ввода пароля , флажки , преключатели и поля для ввода файлов. Также можно 
оформить метки полей ввода и кнопка формы.
*/

/* часто используемые свойства CSS для оформления полей ввода */
/* 
width
padding
margin
border
border-radius
background-color
color
font-size
*/

/* Стиль ввода ширины */
/* 
Свойство 'width' используется для установки ширины поля ввода.
Совет: Ширина текстового поля ввода HTML по умолчанию составляет 20 символов.
*/

input[type="text"] {
    width:400px;
}



/* Отступы для ввода */
/* Свойство 'padding' используется для добавления проьелов внутри текстового поля
*/

/* Совет: Если у вас несколько полей ввода, расположенных друг ща другом , вы
можете добавить "margin" для увеличения между ними: 
*/
input[type="email"] {
    padding:0 20px;
}


/* Стиль ввода с рамкой */
/* 
Свойство 'border' используется для изменения размреа и цвета , а свойство 
'border-radius' можно использовать для добавления закругленных углов.
*/

input[type="search"] {
    border-radius:10px;
    border:5px double green;
}


/* xЦвет фона и цвет текста в поле ввода */
/*  Свойство 'background-color' испольщуется для добавления цвета фона
в поле ввода а свойство 'color' - для изменения цвета текста.
*/

[type="month"] {
    background: red;
}


/* Стиль ввода с иконкой / изображением */
/* 
Если вы хотите , чтобы внутри поля была иконка , используйте свойство 
'background-image' и расположите ее с помощью свойства 'background-position'.
Также обратите внимание , что мы добавим дольшое левое поле , чтобы оставить место
для иконки: 
*/

[type="tel"] {
    background:url(tel.png) no-repeat;
    padding-left:20px;
    background-size:15px 15px;
    background-position:left center;
}

/* Анимированный ввода для поиска */
/* В этом примере мы используем свойство CSS 'transition' для анимации изменения 
ширины  поля ввода при наведении курсора. */

[type="number"] {
    color:green;
}

[type="number"]::placeholder {
    color:red;
}

[type="number"]:focus {
    padding:20px;
}

[type="number"]:hover {
    transform: rotateX(360deg);
    transition: 1s;
}

/* Стиль текстовой области */
/* 
По умолчанию размер <текстовой области> можно изменить с помощью <<захватчика>>
в правом нижнем углу. Чтобы убрать захватить , установите для свойства 'resize'
значение 'none':
*/

/* значения 'resize' 
-none - отключает изменение размера
-vertical - изменение размера только по вертикалти  
-horizontal - изменение размера только по горизонтали
-both - изменение размера по обеим осям.
*/

textarea {
    resize:none;
}


/* Стиль выпадающего меню */

select {
    width:100px;
    height:20px;
    background: green;
    border: none;
}

option {
    background-color:white;
    border: none;
}


/* Оформление кнопко формы */

input[type='button'] {
    background: red;
    color:white;
    padding:5px
}