/* CSS Grid Container */
/* 
Контейнер сетки содержит один или несколько элементов сетки ,
расположенных в столбцах и строках.

Все непосредственные дочерние элемента контейнера сетки автоматически
становятся элементами сетки.

Элемент станвится контейнером сетки , когда его 'display' свйоству 
присваивается значение  'grid' или 'inline-grid'.

*/

/* Свойство отображения сетки. */
/* 
Элемент <div> становится контейнером сетки , если для его 
свойства 'display' установлено значение 'grid' или 'inline-grid'
*/

.container {
    display: grid; /* grid-inline */ 
    max-width:400px;
}
