/* Размер шрифта */
/* 
Свойство CSS 'font-size' используется для указания размера тектса / шрифта.

Умение управлять размером текста очень важно в веб-дизайне.

Однако не следует изменять размер шрифта, чтобы абзацы выглядели как 
заголовки, а заголовки  - как абзацы. Всегда используйте соотсветствующие 
HTML-теги , например <h1> - <h6> для заголовков и <p> для абзацев.

font-size может быть установлени на абслоютный или относительный размер.

*/

/* Абсолютные размеры: */
/* 
px Pixels обеспечивает фиксированны и точный контроль над размером шрифта.
xx-small, x-small , small , medium , large , x-large , xx-large.
Это ключевые слова имеют предопределенный набор размеров в браузерах
*/

/* px */
.px {
    font-size:20px;
}

.small {
    font-size:small
}

.x-small {
    font-size: x-small;
}

.xx-small {
    font-size: xx-small;
}

.medium{
    font-size:medium
}

.large {
    font-size:large
}

.x-large {
    font-size: x-large;
}

.xx-large{
    font-size: xx-large;
}


/* Относительные размеры */
/* 
em: Этот параметр зависит от размера шрифта родительского элемента
rem: Этот параметр зависти от размера шрифта корневого HTML- элемента
%: Этот размер зависит от размера шрифта родительского элемента
smaller и larger: эти единицы измереения позволяют настроить размер
шрифта относительно от родительского элемента
*/

/* em */
.relative {
    font-size: 16px;
}

.em {
    font-size: 2em;
}

/* rem */

html {
    font-size: 20px;
}
.rem {
    font-size:2rem;
}

/* % */

pre {
    font-size: 20px;
}

pre > p {
    font-size: 50%;
}

/* smaller and larger */

.smaller-larger {
    font-size: 20px;
}
.smaller {
    font-size: smaller;
}

.larger {
    font-size: larger;
}


/* Установка размера в пикселях */
/* 
Установка размера текста в пикселях (px) позволяет польностью 
контролировать размер текста.

Если вы используете пиксели , веб- страница может отображатся некорректно 
на экранах разныхтразмеров , а пользователи не смогут изменить размер 
текста в натройках браузера. Однако пользователи могут использовать 
инструмент масштабирования для изменения размера всей страницы. 
*/

/* Установите Размер шрифта С помощью em */
/* 
Единица измерения em зависит от размера шрифта родительского элемента. Таким 
образом размер шрифта родительского элемента составляет 16px то 2.5em будет 
равно 40px   
*/

.container {
    border: 1px solid red;
    width:80vw;
    margin: auto;
    font-size: 10px;
}

.container-em {
    font-size:1.5;
    white-space: nowrap;
}

/* Установите Размер шрифта с помощью Rem */
/* 
Единица измерения rem зависит от размера шрифта корневого HTML-
элемента (<html>).

В отличие от em , который зависит от размера шрифта родительского
элемнета, rem всегда относится к размеру шрифат элемента <html>
независимо от его положения в дереве документа.Это делает rem 
очень полезным создания масштабируемых и абаптивных дизайнов. 
При мзменнеии размера шрифта элемент <html> все элементы ,
размер которых указан в rem единицах , будут пропорционально 
масштабироваться по свсей странице.

Размер шрифта по умолчанию для элемента <html> в большинстве 
браузеров составляют 16 пикелей.Таким образом. По умолчанию
1rem равен 16px , если только это значнеие явно не 
переопределено в CSS.   
*/

/* Агрегат vw */
/* 
Размер шрифта также можно задать с помошью единицы измерения vw ,
которая означает <<ширину области просмотра>>.

Единицы измерения vw - Это относительаня единица , которая 
представляет собой процент от ширины просмотра.

1vw = 1% от текущей ширины области просмотра браузера.
Таким образом , если ширина области просмтора составляет 500px
, то 1vw равен 5px

*/

.vw {
    font-size:10vw;
}