/* CSS Шрифты */
/* Выбор шрифта важен */
/* 
Выбор шрифта оказываеьт огромное влияние на восприятие сайта читателями.

Правильно подобранный шрифт может стать визитной карточкой вашего бренда.

Важно выбрать легко читаемый шрифт. Также важно выбрать подхожящий цвет 
и размер шрифта.
*/

/* Свойство CSS font-family */
/* Свойство CSS 'font-family' определяет шрифт для элемента. 
Совет: Свойство font-family должно содержать несколько имен шрифтов в 
качестве <<запасной>> системы. Если браузер не поддерживает первый шрифт , 
он пробует следующий. Имена шрифтов следует разделять запятыми.

Всегда начинайте с нужного вам шрифта и заканчивайте общим семейством 
шрифтов, чтобы браузер мог выбрать шрифт из общего семетсва , если
других вариантов нет.
*/

/* Примечание: если название шрифта состоит из нескольких слов , оно 
должно быть заключено в кавычки , например : "Times New Roman".
*/

p {
font-family:Impact,'Arial Narrow Bold', sans-serif
}

/* Семейтсва универсальных шрифтов CSS */
/* 
В CSS есть пять общих cемейтсв шрифтов:
serif - имеют небольшую обводку по краям каждой буквы.Они создают ощущенныие 
формальности и элегантности.

sans-serif - имеют четкие линии(без мелких штрихов).Они создают современный
и минималистичный вид.

monospace - здесь все буквы имеют одинаковуб фиксированную ширину.
Они создают механический вид.

cursive - имитируют человеческий почерк.
fantasy - это декоративный / игровой шрифт.
*/

.serif {
    font-family: serif,'san-serif', monospace , cursive, fantasy
}

.san-serif {
    font-family:sans-serif , serif , monospace , cursive , fantasy
}

.monospace {
    font-family: monospace, sans-serif, serif, cursive, fantasy;
}

.cursive {
    font-family: cursive , sans-serif, serif, monospace, fantasy;
}

.fantasy {
    font-family: fantasy , san-serif , serif , cursive, monospace;
}


/* Примечание: На экранах компьютеров san-serif считаются более удобным 
для чтения, чем шрифты с serif */