/* CSS Google Fonts */
/* 
Если вы не хотите использовать стандартные шрифты в HTML ,
вы можете воспользоваться Google Fonts.

Google Fonts бесплатны, и в них представлено 1000 шрифтов на 
выбор.
*/

/* Как использовать шрифты Google */
/* 
Просто добавьте ссылку https://fonts.googleapis.com/css?family на специальную таблицу стилей в раздел 
<head> , а затем укажите шрифт в CSS. Или в CSS через @import url('https://fonts.googleapis.com/css?family')

Стили можно выбрать в этом сайте (https://fonts.google.com/)
*/
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|Badeen+Display|Sofia&effect=neon');

.apple {
    font-family: "Homemade Apple" , sans-serif;
    font-size: xx-large;
}


/* Примечание: при указании шрифта в CSS всегда укащывайте как
минимум один резервный шрифт (чтобы избежать непредвиденных 
полседствий). Поэтому и здесь в конце саиска следует добавить 
общее семейтсво шрифтов(например, с заческами или без засечек).
*/

/* 
Используйте несколько шрифтов Google , просто рахделит е
названия шрифтов символов вертикальной черты (|) 
*/

.baden {
    font-family: "Badeen Display" , sans-serif;
}

/* Примечание: Использование нескольких шрифтоа может замедлить 
работу ваших веб-страниц! Так что будбте осторожны.
*/

/* Включение эффектов шрифта */
/* 
Google также добавил различные эффекты щрифтов, которые вы 
можете использовать.

Сначала добавьте effext=effectname в Google API , а затем
добавьте специальные имя класса к элементу, для которого 
будет использоватся специальный эффект.Имя класса всегда 
начинается с font-effect- и заканчивается effectname.
*/

.effects {
    font-family:"Sofia", sans-serif;
}