/* CSS Стиль шрифта */
/* 
Свойство CSS 'font-style' определяет стиль шрифта для текста.

Это свойство может иметь одно из следующих значений:

normal - текст отображается нормально
italic - текст выделен курсивом.
oblique - текст << наклонный >> (наклонный грифт похож на курсив)
*/

.normal {
    font-style:normal;
}

.italic {
    font-style:italic;
    font-family: sans-serif , serif, monospace, cursive;
}

.oblique {
    font-style:oblique;
    font-family: cursive, sans-serif ,monospace;
}

/* Вес шрифта CSS */
/* 
Свойство CSS 'font-weight' определяет , насколько толстыми или тонкими 
должны быть символы в тексте.

Это свойтсво можеть иметь одно из следующих значений :

normal -это значение по умолчанию.
bold- определяет толстые символы.
bolder - определяет более тослтые символы
lighter - определяет более светлые символы.
100-900 - определяет тольщинц символов. 400 - это тоже самое, что обычный
шрифт, а 700 - то же самое , что жириный шрифт.
*/ 

.bold {
    font-weight:bold;
}

.bolder {
    font-weight:bolder
}

.lighter {
    font-weight:lighter
}

.font-weight-unit {
    font-weight:700 /* 700 = bold, x > 700 = bolder , 500 = normal , x < 500 = lighter */
}

/* Вариант шрифта CSS */
/* Свойство CSS 'font-variant' определяет, должен ли текст отображатся 
строчными буквами.

В шрифте с прописными буквами все строчные буквы преобразуются в прописные.
Однако преобразованные прописные буквы отображаются шрифтами меньшего 
размера, чем исхожные пропичные буквы в тексте.
*/

.small-caps {
    font-variant:small-caps
}