/* Апвыила Сопряжения щрифотов */
/* 
удачное сочетание щрифтов - халог отличного дизайна !
*/

/* 
1. Дополнение 

Всегда можно подобрать сочетание шрифтов , которые будут 
дополнять друг друга.

Удачное сочетание шрифтов должно гармонировать друг с лругом 
, не будучи при этом слишком похожим или слищком разным.
*/


/* 2. Используйте сеперсемейства щрифтов
Суперсемейство щрифтов - это набор шрифтов котрые хорощо сочета
ются друг с другом.Таким образом , использование разных шрифтов 
одного суперсемейтсва безопасно.

Например , суперсемейство Lucida ключает в себя следующие 
шрифты: Lucida Sans , Lucida Serif , Lucida Typewriter Sans ,
Lucida Typewriter Serif и Lucida Math.

*/

/* 
3. Контраст - король

Два слишком похожих шрифта вступают в конфликт друг с другом.
Однако правильно подобранные контрастные шрифты позволяют лучше
раскрыть достоинтсва каждого из них.

Сильное суперсемейтсво включает в себя варианты ожного и того 
же шрифта как с заческами , так и без них (Lucida и Lucids Sans)

*/

/* 
4. Выберите только одного боса
Один шрифт должен быть главным. Это поможет выстроить иерархию 
шрифтов на вашей странице. Этого можно добиться , меняя размер 
, насыщенность и цвет.
*/


/* 
Georgia and Verdana

Helvetica and Garamond

*/

.fonts {
    font-family:Georgia, Verdana,Helvetica, Garamond;
}

/* Попуярные google fonts */
/* 
Если выхотите использовать стандартный шрифты в HTML, вы можете 
воспользоватся Google Fonts

Google Fonts бесплатны и в них представлены более 100 шрифтов 
на выбор.

Ниже приведены некоторые популярные сочетания веь-шрифтов Google.
*/

/* 
Merriweather and Open Sans 

Ubuntu and Lora

Abril Fatface and Poppins 

Cinzel and Fauna One 

Fjalla One and Libre Baskerville

Space Mono and Muli

Spectral and Rubik

Oswald and Noto Sans

*/