/* CSS Outline Offset */
/* 
Свойство 'outline-offset' добавляет пространство между контруом и краем / 
границей элемента. Пространство между элементом и его контуром прозрачно.
*/

.outline-offset {
    outline: medium solid red;
    border:1px solid green;
    outline-offset:5px;
    height:20px;
    width:100px;
    border-radius: 20px;
    background-color: red;
    color:white;
    text-align:center;
    margin-bottom:20px;
}


/* Смешение контура CSS с отрицательным значением */

.minus {
    outline:medium solid red;
    border:1px solid black;
    background: green;
    color:white;
    height:20px;
    width:100px;
    border-radius:20px;
    text-align:center;
    font-size:10px;
    padding:8px 0 0 0;
    outline-offset:-5px;
}