/* Контур CSS */
/* 
Контур - это линия , которая проводится вокруг элементов ЗА ПЕРЕДЕЛАМИ границ чтобы 
элемент <<выделялся>>
*/

/* Примечание: Контур отличается от границ ! Контур рисуется за пределами границы элемента и 
может перекрывать другое содердимое. Кроме того, контур НЕ является частью размеров 
элемента; ширина контура не вля=ияет на общую ширину и высоту элемента.
*/

/* В CSS есть следующие свойства контура: 
 -outline-style -  указывает стиль контура
 -outline-color - указывает цвет контура
 -outline-width - указывает ширину контура
 -outline-offset - добавляет пространство между контуром и краем / границей элемента
 -outline - сокращенное свойство 
*/

/* CSS Свойство 'outline-style' */
/* 
СВойство 'outline-style' определяет стиль контура и может иметь одно из следующих
значений.
 -dotted - определяет пунктирный контур 
 -dashed - определяет прерывистый контур 
 -solid - определяет срлошной контур 
 -double - определяет двойной контур
 -groove - определяет трехмерный контур с канавками 
 -ridge - определяет трехмерный контур с выступами 
 -inset - определяет трехмерный контур со вставками 
 -outset - определяет трехмерный контур с выступами 
 -none - не определяет контур 
 -hidden - опрежеляет скрытый контур 
*/

/* dotted */
.dotted {
    outline-style: dotted;
}

/* dashed */

.dashed {
    outline-style:dashed;
}

/* solid */
.solid {
    outline-style:solid;
}

/* double */
.double {
    outline-style: double;
}

/* groove */
.groove {
    outline-style: groove;
}


/* ridge */

.ridge {
    outline-style: ridge;
}


/* inset */

.inset {
    outline-style: inset;
}


/* outset */
.outset {
    outline-style:outset;
}

.hidden {
    outline-style: hidden ;
}


/* Примечание: Ни одно из других свойств контура не будет иметь никакого эффекта, если 
не задано 'outline-style' свойтсво.
*/

