/* CSS Комбинпторы */

/* 
Комбинатор - это что , определяет взаимосвязь между двумя или более селекторами 

Селелктор CSS может содержать несколько селекторов.Между селевторами можно 
добавить комбинатор , чтобы сделать выборку более точной.

В CSS есть четыре различных комбинатора:
    Нисходящий комбинатор (пробел)
    Детский комбинатор (>)
    Следующий комбинатор братьев и сестер (+)
    Комбинатор последующего брата (~)
*/

/* Комбинатор потомков  (пробел)*/

/* 

Комбинатор потомков соответсвует всем элементам , которые являются потомками 
(дочерними элементами , внучатыми элементами и т.д.) указанного элемента.

*/

div > b {
    color:red;
}

/* Детский комбинатор ( > ) */
/* Комбинатор child выбирает все элементы , которые является прямыми 
потомками указанного элемента.
*/


div > pre {
    color:blue
}


/* Комбинатор следующего брата (+) */
/* 
Комбинатор следующего родственного элемента используется для выбора элемента,
котрый находится непосредственно после определенного элемента.

Одноуровневые элементы должны иметь одного и того же родительского элемента.
*/

div + i{
    color:red
}

/* Комбинатор последующих братьев и сестер (~) */

/* 
Комбинатор последующих братев и сестер выбирают все элеиенты , которые 
являются следуюшими братями и сестрами указанного элемента.
*/

div ~ i {
    color:red
}