/* Синткасис CSS */

/* Правило CSS состоит из селектора и блока обявлений  */

h1 {       
    color:blue
}

/* 
h1 - селектор
color - свойство
blue - значение
*/

/* 
Селектор указывает на HTML- элемент, который вы хотите стилизовать.

Блок обьявлений содержит одно или несколько обьявлений, разделенных точкой с
запятой.

Каждое обьявление состоит из имени свойтсва CSS и значения, разделенных
двоеточием.

Несколько обьявлений CSS разделяются точкой с запятой, а блоки обьявлений
заключается в фигурные скобки.
*/

p {
    color:red;
    text-align:center
}

/* Обьясненный Прмер */
/* 
- p Это селектор в CSS (он указывает на HTML-элемент, который нужно 
стилизировать: <p>)

- color - это свойство , а red - значение свойство 
- text-align -это свойство, а center - значение свойство.
*/


