/* Боксовая модель */

/* 
В CSS термин "блочная модель" используется для обозначения веб-дизайна
и верстки.

Блочная модель CSS - это по сути , блок, который оборачивается вокруг
каждого HTML- эдлемента.

Каждый блок состоит из четырех частей: сожержимого , отсутпов, 
границ и полей.

*/

/* 
Содердимое - содержимое блока , в котором отображается текст и 
изображения

отступ - очищает область вокруг содержимого.Отступ прозрачный .

граница - граница , которая проходит вокруг отступов и содержимого

отсутп - очищает область за пределами границы. ОТступ прозрачный.
*/

/* Модель box  позволяет добавить границы вокруг элементов
и определять расстояние медлу ними.
*/

.box-model {
    height: 100px;
    width:100px;
    padding:10px;
    border: 3px solid red;
    margin:10px
}


/* Ширина и высота элемнета*/
/* 
Чтобы правильно задать ширину и высоту элемента во всех браузерах, 
нужно  знать как работает блочная модель.

Важно:когда вы задаете свойтсва width И height элемента с помошью 
CSS вы задаете ширину и высоту области содержимого . Чтобы расчитать
общую ширину и высоту элемента, необходимо также учесть отсутпы и 
границы. 
*/

