/* CSS !important роль */
/* 
Правило !important испоььзуется для того чтобы присвоить опредленному свойству
наивысший приоритет.

Правмло !important переопределяет ВСЕ предыдущие правила оформления для 
данного свойтсва данного элемента!

Ключевое слово !important добавляет в конец обявления CSS перед точкой с 
запятой.
*/

/* Синтаксис */
/* 
селектор {
свойство: значение !important;
}
*/

.name {
color:red
}

#name  {
color:blue
}

p {
color:dodgerblue !important
}

/* Единственный способ переопределить !important правило - вкоючить другое 
!important правило в обявление с такой же (или более высокой) специфичностью
в исхожном коде.
*/

/* 
!important 
id
class
tagname
*/

/* 
inline
external 
internal
*/

