/* CSS Свойство display */

/* 
Свойство "display"  - это важное сойство CSS для управления макетом.
Оно определяет , является ли HTML - элемент блочными или строчным.

У каждого HTML-элемента есть значение отобрадается по умолчанию, которое 
зависит от типа элемнета. Значение отобрадения по умоляанию для больштнства 
элементов - "block" или "inline" 

Свойтсво 'display' используется для изменения стандартоного способа 
отображения HTML-элементов.
*/



/* Элементы блочного уровня */
/* 
Элемент блочного уровня ВСЕГДА начинается с новой строки и занимает всю
доступну ширину (растягивается влево и вправо настолько , насолько 
это взхможно )
*/

/* примеры блочного жлемента. */

/* 
<div>
<h1> - <h6>
<p>
<form>
<header>
<section>
<footer>
*/

div.block {
    border: 1px solid red;
}

/* Встроенные элементы */
/* 
Строчный жлемент НЕ начинается с новой строки и занимает ровно столько места,
сколько необходимо.
*/

/* Прмеры встроенных элементов. */
/* 
<span>
<img>
<a>
*/

span.inline {
    border: 1px solid red;
}

/* Общие отоюражение значения  */

/* 
inline  - отображает элемент как встроенный элемент

block  - отображает элемент как блочный элемент 

contents - контейнер исчезает а его дочерние эдеименты становятся 
дочерними элемнтами элемента , расположенного на уровень выше DOM

flex - отображает элемнет как гибкий контейнер длочного уровня

grid - отображает элемент в виде контейнера сетки на уровне блока.

inline-block - Отображает элемент как блочный контейнер встроенного уровня. 
Сам элемент форматируется как встроенный элемент , но вы можете задать
значения для высоты , ширины , отступов и полей.

none - элемент полностью скрыт от простмотра (не занимает места)

*/



/* Display : none */

/* При использовании display: none ; элемент полностью скрыт от просмотра
и не занимает места 
 
Обычно он используется в JavaScript для скрытия и отображаения элементов без
их удаления и повторного создания.  
*/

.display-none {
    display: none;
    border: 1px solid red;
}



/* Display: inline и block */
/* 
Свойтво display: inlne или display:block используется для изменения 
стандартоного споособа отображеняи  HTML-элементов.

Преобразование встроенного жлемента в блочной или наоборот может быть 
полезно для придания странице определенного вида при соблюдении веб-стандартов. 
*/

ul > li {
    display: inline;
    border:1px solid red
}

/* Примечание : Установка свойтсва display элемента влияет только на способ
отображения элемента, но не на то , какой это элемент. Таким образом , внутри
строчного элемента с display:block ; не может быть другим блочных элементов.
*/

span[class="block"] {
    display:block;
    border:1px solid red
}

/* Скрыть элемент с display:none или visibility:hidden */

/* Чтобы скрыть элемент , нужно установить для ' display ' 
свойства none . Элемнет будет скрыть ,  и страница будет отобрадатся так, как
будто элемента нет.
*/

div[id |="display"] {
    display: none;
    border:1px solid red
}

/* 
Вы также модете испольщовать "visibility:hidden" для скрытия элемента.

Однако при использовании этого своства элемент будет скрыт , но при этом 
будет занимать стоько же места , сколько еслт бы он был виден.
*/

div[id~="none"] {
    visibility:hidden
}