// Sass - это предпроцессор CSS
/* Sass сокращает количество повторяющегося CSS и тем самым 
экономит время
*/

// Что такое Sass ?

/* Sass расшифровывается как Syntactically Awesome Stylesheet 
Sass - Это расширение CSS
Sass - это предпродцессор
Sass полностью совместим со всеми версями CSS 
Sass сокращает количество повторяющегося CSS и тем самым 
экономит время 
Sass можно скачать и использовать бесплатно.
*/

// Зачем использовать Sass ?
/* Таблицы стилей становятся все больше, сложнее и труднее в 
обслуживании Здесь на помощь может прийти предпроцессор CSS
*/

/* 
Sass позволяет испольщовать функции , которых нет в CSS ,
например переменные , вложенные правиоа , миксины , импорт ,
наследование , встроенные функции и многое другое.
*/

// Как работает Sass ?
/* 
Браузер не понимает код Sass. Поэтому вам понадобится 
предпроцессор Sass , чтобы преобразовать код Sass в стандартный CSS.
*/

/* 
Этот процессор называется транспайлингом. Т есть вам нужно 
пережать транспайлеру (некой программе) код на Sass , 
а затем получить обратно код на CSS.
*/

/* 
Совет: транспиляция - Это процесс преобразования исходного кода , 
написанного на одном языке, в код на другом языке. 
*/


// Тип файла
// Фалы .sass имеют расширение .scss.

// Коментарии в Sass
/* Sass подердивает стандартные коментарии CSS  /* */ , а также 
встроенные коментарии // comment 

