/* Адаптивный веб дизайн  */

/* Адаптивный веб-дизайн - это создание веб-страницы, которые хорошо 
выглядят на всех устройствах!

Адаптивный веб-дизвйн автомвтически подстраивается под разные 
размеры экрана и области. */

/* Лючший опыт для всех пользрвателей  */
/* Веб-страницы можно просматривать на самых разных устройствах:
настольных компьютерах, планшетах и мобильных телефонах.

Наша веб-страница должна хорошо выглядеть и быть удобной в 
использвании независимо от устройтсва.

Адаптивный веб-дизайн - это использовние HTML и CSS для 
автоматического изменения размера, скрытия , уменьшения или
увеличения веб-сайта , чтобы он хорошо выглядел на всех устройствах. */


/* Ключевыми компонентами адаптивного веб-дизайна являются:
- Тег Viewport <meta>
- Гибкая верстка (grid и flex)
- Медиазапросы */