/*
Чтобы пользоватся sass фалом наш css файл должен быть одинаковым как у sass файла.
и должны скачать vscode 'live sass compileer'

так как файл .scss браузер не подежтвает мы должны подключить css файл к html.
*/

p{
    color:red
}