img {
    height:100px;
    width:100px;
    border: 1px solid black
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 380px;
    gap:10px;
    border: 1px solid black;
    margin: auto;
    justify-content: center;
}