/* css inheritance */
/* 
Наследование в CSS - это то что , происходит , если для свойства элемента 
не указано значение.

Если для свойства не указано значение , оно может быть либо унаследовани от 
родительского элемента, либо установлено в качестве начальног (по умолчанию).

*/

/* В CSS наследование свойств делится на два типа */
/* 
унаследование свойства
неунаследование свойства
*/



/* Наследуемые свойства */
/* 
По умолчанию наследуемые свойства принимают вычисляемое значение родительского 
элемента.
*/
/* Как правил, наследуются свойства связанные с текстом , такие как 'color', 
'font-family' , 'font-size', 'line-height', 'text-align'. Это обеспечивает 
единобразное оформление текста во всем документе. */

.inheritance {
    color:red; 
    text-align: center;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 50px;
}

/* Не наследуемые свойства */
/* Если для ненаследуемого свойства не задано значение , значение устанавливается 
равнфм начальному (по умолчанию) значению этого свойства.

Свойства , связанные с коробочной моделью или макетом , такие как 'border',
background , margin padding , width height и обычно не наследуются.
*/

.non-inheritance {
    border:1px solid red;
    background: green;
    margin: 10px 20px;
    padding:20px;
    height:100px;
    width:200px;
}

/* Ключевое слово inherit */
/* 
Ключевое слово 'inherit' используется для явного указания наследования.
Оно работает как с унаследованными , так и с неунаследованными свойствами.

*/

.inherit {
    border:2px solid red;
    padding:20px;
    margin:20px;
    height:50px;
    width:100px;
    background: green;
}

.inherit p {
    border:inherit;
    padding:inherit;
    margin: inherit;
    height:inherit;
    width: inherit;
    background: inherit;
}

