 /* CSS Flexbox  */

/* CSS Flexbox (гибкая верстка)  */

 
/* CSS Flexbox - это сокращенное от модуля CSS Flexible Box Layout 

Flexbox - это модель компоновки , которая позволяет гибко и адаптивно 
размещать элементы (горизонтально или вертиакльно) внутри контейнера 

С помощью Flexbox можно легко создать гибкий и адаптивный макет без 
использования "float" или позиционирования. */


 /* Flexbox против Grid  */

/* CSS Flexbox используется для одномерного макета со строками ИЛИ столбцами.
CSS Grid используется для двумерного макета со строками и столбцами. */


/* Компоненты CSS Flexbox */

/* A flex container - родительский (контейнерный) элемент , для которого свойство 
'display'  установлено в 'flex'  или 'inline-flex'.

Один или несколько гибких элементов - прямые дочерние элементы гибкого 
контейнера автоматически тановятся гибкими элементами.

inline-flex  - это по умолчанию  flex-direction:column
*/


/* пример  */


.container {
    display:flex;
    border:1px solid red;
    height:200px;
    width:300px;
}

.son {
    border:1px solid red;
    height:200px;
    width:250px;
}

.daughter {
    border:1px solid red;
    height:200px;
    width:250px;
}

