/* CSS слеторы атрибутов */

/* 
Селекторы атрибтов CSS используются для выбора и стилизации HTML-элементов 
с определенным атрибутом , значения атрибута или с обоими сразу.
*/

/* CSS [атрибут] Селектор */

/* Селектор [attribute] используется для выбора элементов с определнным 
атрибутом.
*/

a[target] {
    color:red;
}

/* CSS [атрибут = "значение"] Селектор */
/* 
Селектор [attribute="value"] используется для выбора элементов с определенным 
атрибутом и точными значениями.
*/

a[title="hello"] {
    color:blue
}

[title="salom"] {
    color:green
}


/* CSS [атрибут~="значение"] */

/* 
Селектор [attribute=~"value" используется для выбора элемнетов, значение
атрибута которых содержит определенное слово из списка ]
*/

[title~="hello"] {
    color: blue;
}

/* CSS [атрибут | = 'значение'] селектор */

/* 
селктор [attirbute | = "value"] используется для выбора элементоа с определенным значением которого может совпадать с конкретным значением или начинаться с конкретного значения , за которым следует дефис(-)
*/

[title|='privet'] {
    color:chocolate
}

/* Примечание: Значение должно состоять из одного слова, например class="top", или из нескольких слов, разделенных дефисом ( - ), например class="top-text". 
*/


/* CSS [атрибут ^ = "значение"] Селекор */

/* 
селектор [attribute^="value"] исользуется для выбора элементов с определенным значением которго начинается с определенного значения.
*/

[title^='hello'] {
    color:yellowgreen
}

/* CSS [атрибут$ = "значение"] Селектор*/

/* 
Селектор [attribute$="value"] используется для выбора элементов, значения атрибута которого заканчивается на определенное значение .
*/

[title$="hello"] {
    color:blueviolet
}

/* * */
/* 
селектор [attribute*="value"] используется для выбора элементов, значение которого содержит определенные значение схожие и даже не полное згначение
*/
[title*="em"] {
    color:tomato
}

/* Стилизация элементов формы с помощью селекторов атрибутов */
/* 
Селекторы атрибутов CSS могут быть полезны для стилизации элементов формы в зависимости от типа ввода.
*/
input[type="text"] {
    color:red;  
}

input[type*="se"] {
    border-bottom-left-radius:20px;
    border-top-right-radius:20px;  
    padding-left: 30px;
    padding-right:30px
}