/* CSS коментарии */

/* 
Коментарии используются для пояснения кода CSS И могут пригодиться при 
последющем редактированнии исходного кода.

Коментарии также используются для временного отключения фрагмента CSS-кода в
таблице стилей.

Коентарии игнорируется браузерами !

CSS-коментарии размещается внутри элемента HTML <style> и начинаются с /* и
заканчивается */


/* Это однострочный коментарий */
p {
    color:red
}

/* Вы можете добавлять коментарии в любое место кода: */
/* Даже в середине строки кода */

p {
    color:blue; /* Установить красный цвет текста */
}


/* коментарии также могут занимать несколько строк: */

/* Это 
многострочный 
комментарий
*/

p {
    color:white
}

/* Коментарии в формате HTML и CSS  */

/* 
Мы используем комбинацию HTML и CSS коментариев
*/

/* 
<!Doctype html>
<html>
<head>
<style>
/* Это коментарие во внутреннов подключениии CSS то есть в HTML */
</style>
</head>
</html>
*/ 