/* CSS Градиенты */
/* 
Функция CSS-градиента позволяют плавно перехолить от одного цвета 
внутри элемента.

В CSS определены три типа градиентов.

- Линейные градиенты - перезод цвета происходит вниз , влево ,
впавр или по диоганали.

- Радиальные градиенты - переход цвета происходит от уентральной точки.

- Конические градиенты - цветовой перехож вращается вокруг 
центральной точки.
*/

/* Фуyкция 'linear-gradient().*/
/* 
Фуyкция 'linear-gradient() в CSS создает линейный градиент'.

Линейный градиент определяет переход цвета по прямой линии. 
Он может идти вниз , вверх , влево , вправо ил по диагонали.


Для линейного градиента требуется как минимум лва цветовых 
перехода. Цветовые переходы - это цвета между которым вы хотите 
создать плавные переходы. Вы также можете сохдать начальную 
точку и направление (или угол) для эффекта градиента.
*/

/* Синтаксис */
/* background-image: линейный градиент(направление, цвет-градиент1, 
цвет-градиент2, ...);
*/

/* to left */
.to-left {
    height:200px;
    width:200px;
    margin-bottom:10px;
    background-image: linear-gradient(to left, red, blue);
}

/* to right */
.to-right {
    height:200px;
    width:200px;
    margin-bottom:10px;
    background-image: linear-gradient(to right, red, blue);
}

/* to top */
.to-top {
    height:200px;
    width:200px;
    margin-bottom:10px;
    background-image: linear-gradient(to top, red, blue);
    
}

/* to bottom */
.to-bottom {
    height:200px;
    width:200px;
    background: linear-gradient(to bottom , red, blue);
}


/* Линейный градиент - использование углов */
/* 
Если вам нужно больше кнтроля над напрвалением градиента ,
вы можете задать 'angle' параметр вместо предустановленных 
направлений (вниз, вверх , вправо ю влево, в правый нижний угол
и т.д.).

-   Значение 0deg эквивалентно выражению <<вверх>>
-   Значение 90 градусов эквивалентно направлению <<вправо>>.
-   Значение 180 градусов эквивалентно <<вниз>>
-   Значение 270 градусов эквивалентно <<влево>>
*/

/* Синтаксис */
/* background-image: linear-gradient(угол, цвет-градиент1, 
цвет-градиент2);
*/

[class='angle'] {
    background-image: linear-gradient( 270deg, red , blue);
    height: 200px;
    width: 200px;
}

/* Линейный градиент - несколько цветовых переходов */
.multiple {
    height:200px;
    width:200px;
    background-image:linear-gradient( 90deg ,red, orange, yellow, lightgreen , green , lightblue, blue , violet, purple );
}


/* Линейный градиент - Прозрачность */
/* Градиенты CSS также поддерживают прозрачность , которую можно
использовать для создания эффекта затухания.

Чтобы добавить прозрачность , мы испоьльзуем функцию rgba() для 
определения цветовых переходов.Последний параметр функции rgba()
может принимть значение от 0 до 1 и определяет прозрачность цвета:
0 означает полную прозрачность , 1 - полный цвет (без прозрачности).

*/

.opacity {
    height:200px;
    width:200px;
    background-image: linear-gradient(270deg, rgba(0,0,255 , 0.5) , rgba(255,0,0, 0.5) );
}

/* Функция CSS repeating-linear-gradient */
/* 
Фуекия CSS 'repeating-linear-gradient()' испольщуется для 
повторения линейных градиентов:  
*/

.repeat {
    height:200px;
    width:200px;
    background-image: repeating-linear-gradient(to top , blue 50% , green 60%);
}