/* CSS и вертикальная и горизонтальная  поправление*/

/* Центрирующие элементы CSS */
/* 
С помощью CSS можно центрировать элементы (по горизонтали , вертикали
или по обоим направлениям) несколькими способами , в зависимости от
типа элемента. 
*/

/* Выравнивание элементов блока по центру */
/* 
Используйте margin: auto чтобы выровнять по горизонтали элемент блочного 
уровня (например , <div>).

Также укажите 'width' для элеемнта чтобы она не растягивался до краев своего 
контейнера.

Примечание : выравнивание по ценртру не влияет на элементы блочного уровня,
если свойство "width" не задано (или задано значение 100%)

*/

.align-block {
    height:100px;
    width:50%;
    margin:auto;
    border:1px solid black
}


/* Выровнять текст по центру */
/* 
чтобы центрировать текстс блочного элемента , используйте 
'text-align:center'
*/

.align-text > p {
    text-align: center;
}


/* Выравнивание изображения по центру */
/* 
Чтобы центрировать изображение, установите 'margin-left' и 'margin-right'
равными 'auto' , а также преобразуйте изображение в элемент 'block':
*/

img {
    display: block;
    margin: auto;
    height: 200px;
    width: 200px;
}

/* Выравнивание по центру с помощью Flexbox */
/* 
С помощью CSS flexbox можно уентрировать элементы по горизонтаили ,
так и по вертикали внутри гибкого контейнера.

Гибкий контейнер в коьором для свойства 'justify-content' и 'align-itens'
установлено значение 'center' , выровняет элемент (элементы) по центру
(по обеим осям)
*/

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

.flex > .center {
    height:50px;
    width:50px;
    border: 1px solid black;
}

/* Выравниевание по левомму и правому краю с помощью position */

/* 
Другой способ выравнивание элементов - использование position:'absolute'

Прмечание : элементы с абсолютным позиционированием не участвуют в 
обычном потоке и могут перекрывать другие элементы.
*/

.relative {
    height:400px;
    width:400px;
    border: 1px solid black;
    position:relative
}

.absolute {
    height:200px;
    width:200px;
    border:1px solid black;
    position:absolute;
    left: 100px;
    top:100px;
}