/* Сетка из 12 столбцов в CSS */
/* 
Сетка из 12 стольбцов - это распространенный и гибкий метод 
структурирования содержимого веб-страницы , особенно для адаптивного 
веб-дизайна.

Система сеток из 12 столбцов делит доступное горизонтальное 
пространство одинаковой ширины , что позволяет точно размещать 
элементы и задавть  их размеры в макете.
*/

/* Преимузетсва сетки из 12 столбцов. */
/*  
Гибкость:Число 12 легко делится на другие числа. Дизайнеры могут 
легко создавать дизайны с половинками, третями и четвертями 
(2 столбца по 6 элементов, 3 столбца по 4 элемента, 4 столбца по 
3 элемента).

Адаптивность:Адаптивность: Сетка из 12 столбцов идеально подходит 
для создания адаптивных веб-сайтов, которые подстраиваются под 
разные размеры экрана (настольный компьютер, планшет или мобильное 
устройство) с помощью медиазапросов. Это обеспечивает единообразный 
пользовательский интерфейс на всех платформах.

Эффективность:Наличие заранее определённой структуры ускоряет 
процесс проектирования.
*/