/* Размер таблицы CSS */
/* 
Ширина и высота таблицы CSS
*/
/* Ширина и высота таблицы определяются свойствами 'width' и height 
соответственно.
*/


/* Ширина таблицы CSS */
/* 
Свойство CSS 'width' используется для установки ширины таблицы.

Ширинц можно установить:
- в процентах (%)
- в фиксированном размере (px)
- с помощью ключевого слова 'auto'
*/

/* Ширина таблицы CSS в процениах */
/* Чтобы сохдать таблицу Ю занимающую весь экран (полноэкранную),
используйте 'width:100%'
*/

table {
    border-collapse: collapse;
    border:1px solid black;
    margin: auto;
    width:50%;
}

th , td{
    border:1px solid black;
}


/* Ширина таблицы CSS с фиксированной шириной */
/* 
Чтобы создать таблицу с фиксированной шириной Ю используйте width:500px
*/

table {
    width:600px;
}


/* Ширина таблицы CSS с использованием 'auto' */

table {
    width:auto;
}


/* Высота таблтицы CSS */
/* 
Свойство CSS 'height' используется для установки высоты таблицы.
Высоту можно установить:

- в процентах (%)
- в фиксированном размере (px)
- с помошью ключевого слова 'auto'
*/