/* CSS Свойство position */

/* Позиционирование CSS */
/* 
Позиционирование в CSS - это управление размещением элементов на 
веб-странице

С помощью CSS - позиционирование можно изменить обычный порядок элементов
в документе.
*/

/* 
Свойство position определяет тип позиционирования элемента. 

Это свойтсво может иметь одно из следующих значений:

-static - это значение по умолчанию
-relative
-fixed
-absolute
-sticky

Затем элементы помещаются в их окончательное местоположениесо свойством 
top, bottom , left и right.
*/




/* Позиция CSS: статическая */

/* 
По умолчанию все HTML-элементы имеют статичесикое расположение.

На элементы со статическим позиционированем не влияют свойства top, bottom,
left, right.

Элемент с "position:static"  всегда распологается в соответстви с обычным 
порядком на странице: 

*/
body {
    height: 800px;
}

[class="static"] {
    position: static;
    background-color: red;
    height:100px;
    width:100px;
}

/* Позиция CSS: отночительная  */

/* 
Элемент с position:relative позиционируется относительно своего обычного 
положения в потоке документа.

При настройке свойство top, right , bottom и left элемент смещен от своего 
ообычного положения. Другой контент не будет подстраиватся под отсавленное 
элементом пространство.
*/

.relative {
    height: 100px;
    width: 100px;
    background-color: green;
    position: relative;
    bottom:30px;
    right:30px;
    opacity: 0.5;
}



/* Позиция CSS : fixed */
/* Элемент с position:fixed позицилнируется относительнообласти 
просмотра , то есть он всегда остется на одном и том же месте, даже при
прокрутке страницы. Свойство top, right , botttom и left. используется 
для определения конечного местоположения элемента. 

Фиксированный элемент не оставляет пустого мест на странице , где он 
обычно не распологался бы.

*/

[class="fixed"] {
    height:100px;
    width:100px; 
    position: fixed;
    background-color: blue;
    color:white;
    top:10px;
}



/* Позиция CSS: Абсолютная */
/* 
Элемент с position:absolute позиционируется относительно ближайшего 
позиционируемого предка(с позиционированием, отличным от static)

Однако если у элемента с абсолютным позиционированием нет
позиционированных предков , он использует тело документа и 
перемещается вместе с прокруткой страницы.

*/

/* Примечание: Элементы с абсолютным позиционированием не участвуют в
обычном потоке документа и могут прекрывать жругие элементы.
*/

.absolute {
    background-color: black;
    color:white;
    height:100px;
    width:100px;
    position:absolute;
    top:1px
}

div.parent {
    background-color: blueviolet;
    height: 200px;
    width: 200px;
    position:fixed;
    top:0
}

div.child {
    background-color: turquoise;
    height: 50px;
    width: 50px;
    position:absolute;
}

/* Позиция CSS: sticky */
/* 
Элемент с position:sticky; переключается между relative и fixed 
положением в зависимости от положения прокрутки.

Липкий элемент позиционируется относительно доугих элементов до тех пор
пока не будет достигнута определенная позиция прокрутки , после чего он
<< застревает >> на этом месте (как при использовании postion:fixed)
*/

/*
Примечание: для работы фиксированных позиционирования необхожимо 
указать хотя бы одно из свойств top, right , bottom или left
*/

.sticky {
    border:1px solid red;
    background-color: red;
    padding:5px ;
    top:10px;
    position: sticky; 
}