 /* HTML HEX цвета */
 /* Hexademical  */
/*  
Шестнадцатеричный цвет задается с помошью #RRGGBB, где шестнадцатеричный
целые числа RR(red), GG(green), и BB(blue) обозначает компоненты цвета.
*/

 /* Шестнадцатеричные Значения Цвета  */
/*  
В HTML цвет можно указать с помошью шестнадцатеричного занчения в 
формате

##rrggbb

Где rr(red) , gg(green) , bb(blue) - шестнадцатеричные значения от 00
до ff(что соответсвует десятияным значениям от 0 до 255)

Напрмер , #ff0000 отображается красным цветом, потмучто для красного 
установлено максимальное значение (ff) а для других цветов (зеленого 
и синего) установленно значние 00

Другой пример #00ff00 отображается зеленным , потмучто для зеленного 
установленно максимальное значение (ff) а для других цветов (красного 
и синего) установленно значение 00.

Чтобы отобразить черный цвет , установите для всех параметорв цвета значение 
00, например так #000000

Чтобы отобразить черный цвет , установите для всех параметров значение 
00, например так :
#000000

Чтобы отобразить белый цвет, установите для всех параметров цвета 
значение ff, например так: #ffffff.

*/

 /* черный цвет   */
.black {
    background-color: #000000;
    color:#ffffff
}

/* белый цвет  */
.white{
    background-color:#ffffff;
}
/* синий цвет  */
.blue{
    background-color: #0000ff;
}
 /* красный цвет  */
.red {
    background-color: #ff0000;
}
/* зеленный цвет  */
.green{
    background-color: #00ff00;
}