/* HTML Цвета HSL и HSLA  */
 /* hsl -> hue , saturation , lightness  */

/*  
HSL - это аььревиатура обозначающая оттенк, начыщенность и яркость

Уветовая значение HSLA - это расширение HSL с альфа- каналом 
(непрозрачность).
*/

 /* Значение цвета HSL  */
/*  
В HTML цвет можно задать с помощью оттенка , насыщенность и светлоты 
(HSL) в следющем формате: 

hsl(оттенок,  насышенность , светлота)

Оттенок - это градус на цветовом круге от 0 до 360 - красный ,
120 - зеленный , 240 - синий.

Насыщенность выражается в процентах 0% означает оттенок серого а 
100% - полный увет.

Светлота также измеряется в процетах 0%  - это черный цвет а 100 -белый.

*/

 /* черный  */
.black{
    background-color: hsl(0, 100%, 0%);
    color:hsl(360,100%,100%)
}

 /* белый  */
.white {
    background-color:hsl(360,100%,100%)
}
 /* зеленный  */
.green {
    background-color: hsl(120,100%,50%);
}
 /* красный  */
.red {
    background-color: hsl(360,100%,50%);
}

 /* синий  */
.blue {
    background-color: hsl(240, 100%, 50%);
}

/*  
Насыщенность
Насыщенность можно описать как интенсивность цвета.

100 % — это чистый цвет, без оттенков серого.

50 % — это 50 % серого, но цвет всё равно виден.

0 % — это полностью серый цвет, вы больше не видите цвет.
*/


/* Лекгость  */
/*  
Светлоту цвета можно описать как степень яркости, котрую вы хотите
придать цвету. 0% означает отсутсвие света (черный).50 % jpyfxftn 50%
cdtnf (ни темный ни светлый) а 100% означает полную яркость (белый)
*/

 /* Оттенки серого   */
/*  
Оттенки серого часто получают, устанавлиая значение оттенка и насыщенности 
на 0 и регулируя чркость от 0% до 100% чтобы получить более темные илм 
светлые оттенки. 
*/

 /* Знаение цвета HSLA  */
 /*  
Цветовые значение HSLA являются расгирением цветовых значений HSL и 
содержит алфа канал, котрый определяет непрозрачность цвета.

Значение цвета HSLA задается с помощью :

hsla(hue , salvaatation , lightness, alpha )

Параметр альфа - это число от 0.0(полная прощрачность) до
1.0(полная не прозрачность)
*/

 /* полная прозрачность   */
.full-opasity{
    background-color: hsla(360, 100%, 50%, 0);
}


/*  полная непрозрачность   */
.noopasity{
    background-color: hsla(360, 100%, 50%, 1);
}


/*  половина прозрачность  */
.half-opasity{
    background-color: hsla(360, 100%, 50%, 0.5);
}