/* CSS Margin */

/* 
Свойство CSS 'margin' используется для создания пространства вокруг элеменотов
пределами заданных границ.

Поля определяют расстояние между границей элемента и окружающими его 
элементами.

С помошью CSS вы можете полностью контролировать поля.В CSS есть свойства для
установки полей с каждого стороны жлементов (сверзу, справа, снизу и слева),
сокращенное свойство для утсановки всех полей в одном обьявлении.
*/

/* Margin - отдельные стороны */

/* 
margin-top - устанавливает верхнее поле элемента
margin-left - устанавливает левое поле
margin-bottom - устанавлтвает нижнее поле
margin-right - устанавливает правое поле 
*/

/* Все свойства полей могут иметь следуюшие значения: */
/* 
auto - браузер рассчитывает поля
длина - указывает отступ в px , pt , cm и т.д.
% - указывает отступ в процентах от ширины содержащего элемента
inherit - указывает , что поля должны быть унаследованы от родительского 
элемента
*/

/* Совет: допускаются также отрицательные значения */

.margin-top {
    border: 2px solid red;
    margin-top:50pt;
    width:500pt
}

.margin-bottom {
    border: 2pt solid red;
    margin-bottom:50pt;
    width:500pt;
}

.margin-left {
    border: 2pt solid red;
    margin-left:50pt;
    width:500pt;
}

.margin-right{
    border: 2pt solid red;
    margin-right:50pt;
    width:500pt;
}

.margin-with-minusvalue{
    border: 2pt solid red;
    margin-left:-100pt;
    width:500pt;
}

/* Margin - Сокращенное свойство */
/*
Чтобы сократить код, можно указать все свойства полей в одном объявлении.

Свойство margin является сокращённым обозначением для следующих отдельных свойств полей:

margin-top
margin-right
margin-bottom
margin-left

*/


/* Если свойство margin имеет четыре значения: */
/* 
поля: 10 пикселей, 20 пикселей, 30 пикселей, 40 пикселей;
верхнее поле — 10 пикселей
правое поле — 20 пикселей
нижнее поле — 30 пикселей
левое поле — 40 пикселей
*/
.margin-four {
    border:1px solid red;
    margin: 10px 20px 30px 40px ;
}


/* Если свойство margin имеет три значения: */
/* 
поля: 10 пикселей, 20 пикселей, 30 пикселей
верхнее поле — 10 пикселей
правое поле — 20 пикселей
нижнее поле — 30 пикселей

*/

.margin-three {
    border:1px solid red;
    margin: 10px 20px 30px  ;
}

/* Если свойство margin имеет два значения: */
/* 
поля: 10 пикселей, 20 пикселей
верхнее поле — 10 пикселей
правое поле — 20 пикселей
*/

.margin-two {
    border:1px solid red;
    margin: 10px 20px;
}


/* Если свойство margin имеет одна значения: */
/* 
для всех сторон задается 10px
*/

.margin-one {
    border:1px solid red;
    margin: 10px
}



/* Автоматическое значение */
/* 
Чтобы раположить элемент по центру контейнера по горищонталии, можно задать
для свойства 'margin' значение auto

После этого элемент займет указанную ширину , а оставшееся пространство будет 
поровну распределено между левым и правым полями.
*/

.margin-auto{
    border: 2pt solid red;
    margin:auto;
    width:500pt;
}


/* Наследуемое значение */
/*  
Вы можете установить для свойства margin значение inherit, чтобы поля наследовались от родительского элемента.

В этом примере левое поле элемента <p class="ex1"> наследуется от родительского элемента (<div>):
*/


/* inherit */
.parent {
    border: 1px solid red;
    margin-left: 100px;
}

.child {
    border:1px solid red;  
    margin-left:inherit;    /* inherit == 100px потосучто наш parent элемент 100px*/ 
}


/* percentage */
.parent1 {
    border: 1px solid red;
    width:500px;
}

.child1 {
    border:1px solid red;  
    margin-left:50%;    /* % - 250 px , составляет 50% от ширины*/ 
}

#santimetr {
    margin-left:3cm;
}