/* CSS Коллапс полей  */

/* 

margin-collapse - это когда две margin обединябтся в одну

Верхнее и нижнее поля элементы иногда обединяются в одно поле , равное 
наибольшему из двух полей.

Примечание: Сведение полей происхолит только с верзними и нижними полями!
Не с левыми и правыми.

*/

/* пример */

h1 {
margin-bottom:0px;
border: 1px solid red;
}
h2 {
margin-top: 0px;
border:1px solid red;
}