// %placeholder селектор - используется для повторного использования стилей через @extend.
%placeholder {
    height:200px;
    width:200px;
    border-radius: 100%;
    background:black;
    color:white;
}

.left {
    @extend %placeholder;
}

.right {
    @extend %placeholder
}