/* Цвет текта */

/* 
В CSS есть множество свойтсва для стилизации и форматирования текста.
*/

/* Цвет текста CSS */
/* 
Свойство "color" используется для установки цвета текста. Цвет 
задается с помощью:

название цвета - например red
шестнадцатеричное значени - #ff0000
значение rgb - rgb (255,0,0)
*/

.color {
    color:red
}

.hex {
    color:dodgerblue
}

.rgb {
    color:lightblue
}

/* Важно: высока контранстность важна для людей с проблемаи зрения.
Поэтому всегда следите за тем , чтобы контраст между цветами текста и ц
цветом фона был хорошим 
*/