/* CSS Свойтсво max-width */

/* 
Свойтсво 'max-width' определяет максимальную ширину элемента .

Это свойство не позволяет ширине элемента превышать указанное значение
(она может быть меньше, но не больше).

Это свойство полезно для создания алаптивных макетов и обеспечения 
читабельности контента на эеранах разных размеров.

*/

.width {
    border: 1px solid red;
    width: 15000px;
}

.max-width {
    border: 1px solid black;
    max-width: 1400px;
}