/* CSS Высота , ширина и максимальная ширина */
/* 
Свойство CSS 'height' и 'width' используются для установки высотыи 
и ширины элемента.

Свойство CSS max-width используется для установки максимальной ширины 
элемента.
*/

/* CSS Устанавливает высоту и ширину*/
/* 
Свойства 'height' и 'width' используются для установки высоты и ширину
элемента.

Высота и ширина 'border' 'padding' 'margin'. Это устанавливает высоту 
и ширину области внутри элемента, включая отступы, границы и поля .
*

/* Значения высоты и ширины CSS */
/* 
Свойтсва 'height' и 'width' могут иметь следующие значения:

auto - это значение по умочанию. Браузер вычислит высоту и ширину.

length - определяет высоту или ширину в px, cm , em и т.д

% - определяет высоту или ширину в процентах от размера содержашего 
блока

initial - устанавливает высоту или ширину по умолчанию.

inherit - высота или ширина будут унаследованы от родительского 
элемента.
*/

/* % */
.mother {
    height:200px;
    width:200px;
    border: 1px solid black;
}

.percentage {
    height:50%;
    width:50%;
    border: 1px solid black;
}

.auto{
    height:auto;
    width:auto;
    border:1px solid red;
}

.initial {
    height:initial;
    width:initial;
    border:1px solid red;
}
.inherit {
    height:inherit;
    width:inherit;
    border: 1px solid red;
}

.parent {
    height: 200px;
    width: 200px;
    border: 1px solid red;
}


/* CSS использование max-width */
/* 
Cвойство 'max-width' устанавливает максимальную допустимую ширину 
элемента. Это не позваоляет сделать ширину элемента больше значение 
свойства 'max-width' 

Свойство 'max-width' может примнимать следующие значения:

length -определяет максимальную ширину в пикселях, сантиметрах и т.д.
% - определяет максимальную ширину в процентах от ширины содержащего блока

none - это значение по умолчанию. Означает , что максимальная ширина 
не ограничена.

Одна из проблем , связанных со свойством 'width' , может возникнуть ,
если окно браузера меньше, чем ширина элемента. В  этом случае браузер 
добавляет на страницу горизонтальную полоску прокрутки. Таким образом,
использование 'max-width' улучшит работу браузера в небольших окнах.

*/

.width {
    border: 1px solid red;
    width:900px;
    height: 100px;
}

.max-width {
    max-width: 900px;
    height: 100px;
    border:1px solid red;
}

/* Примечание: если мы используем свойства width и max-width для 
одного того же элемента и значение width больще значения max-width ,
то будет использоватся значение свойства max-width
*/

.difference {
    border: 1px solid red;
    width:900px;
    max-width:700px;
}